
@{
    ViewBag.Title = "TotalExpense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>TotalExpense</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Total Expense</th>
        </tr>
        </thead>
    <tr>
        <td>@ViewBag.exp</td>
    </tr>
        </table>
